<html>
<body>

{{^user}}
<form action="/login" method="post">
    <input type="text" placeholder="Username" name="username"/>
    <input type="password" placeholder="Password" name="password"/>
    <button type="submit">Login</button>
</form>
{{/user}}

{{#user}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>

<a href="/">All</a>
<a href="/?category=ONE">Cat 1</a>
<a href="/?category=TWO">Cat 2</a>
<a href="/?category=THREE">Cat 3</a>
<a href="/?category=FOUR">Cat 4</a>
<a href="/?category=FIVE">Cat 5</a>

<form action="/" method="get">
    <input type="text" placeholder="Name or Location" name="search"/>
    <button type="submit">Search</button>
</form>

<form action="/hurricane" method="post">
    <input type="text" placeholder="Hurricane Name" name="hname"/>
    <input type="text" placeholder="Hurricane Location" name="hlocation"/>
    <select name="hcategory">
        <option selected disabled>Category</option>
        <option value="ONE">1</option>
        <option value="TWO">2</option>
        <option value="THREE">3</option>
        <option value="FOUR">4</option>
        <option value="FIVE">5</option>
    </select>
    <input type="text" placeholder="Image URL" name="himage" width="200"/>
    <button type="submit">Submit Hurricane</button>
</form>

<table>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Category</th>
        <th>Submitter</th>
        <th>Image</th>
        <th></th>
        <th></th>
    </tr>
    {{#hurricanes}}
    <tr>
        <td>{{name}}</td>
        <td>{{location}}</td>
        <td>{{category}}</td>
        <td>{{#user}}{{name}}{{/user}}</td>
        <td><img src="{{image}}" width="100" height="100"/></td>
        <td>
            {{#isMe}}
            <form action="/delete-hurricane" method="post">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Delete</button>
            </form>
            {{/isMe}}
        </td>
        <td>
            {{#isMe}}
            <a href="/edit-hurricane?id={{id}}">Edit</a>
            {{/isMe}}
        </td>
    </tr>
    {{/hurricanes}}
</table>
{{/user}}

</body>
</html>